.form_container {
  height: auto;
  width: 600px;
  background-color: rgb(221, 221, 221);
  border-radius: 10px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin: 100px;
  flex-direction: column;
}

.form_heading {
  font-size: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  height: 55px;
  width: 350px;
  margin-top: 20px;
  font-family: sans-serif;
  font-weight: bold;
}

.form_start {
  /* display: flex;
  flex-direction: column; */
  margin-top: 10px;
  justify-content: left;
  flex-direction: column;
}

.form_elements {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  row-gap: 12px;
}
.label_ele {
  font-size: 17px;
  text-align: left;
  justify-content: left;
  font-family: sans-serif;
}

.form_input {
  height: 35px;
  width: 440px;
  border-radius: 3px;
  border: none;
}

.button_form {
  height: 35px;
  width: 275px;
  background-color: #41d61b;
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 15px;
  font-family: sans-serif;
}

.form_footer {
  font-size: 12px;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}
